[submodule "themes/hugo_theme_robust"]
	path = themes/hugo_theme_robust
	url = https://github.com/dim0627/hugo_theme_robust.git
[submodule "themes/hugo-phlat-theme"]
	path = themes/hugo-phlat-theme
	url = https://github.com/nraboy/hugo-phlat-theme.git
